
h1{

	color:blue;
	font-size: 100px;
	font-family: Microsoft JhengHei;
	text-align: center;
	
}

a{

	font-size: 30px;
	text-align: center;
}

h2{

	font-size: 30px;

}

#kami{
	width: 800px;
  	margin: 0 auto; 
}

span{

	color:grey;
	font-size: 25px;
	font-family:DFKai-sb;
	
}